// The Sass comment elf was here
/* The CSS comment elf was here */
                                                                       
// VARIABLES ========================================================= 
                                                                       
// MIXINS AND PLACEHOLDERS =========================================== 
                                                                       
// GLOBAL & BOOTSTRAP OVERRIDES ====================================== 
                                                                       
body {                                                                 
  font-family: "Open Sans", sans-serif;                                
  font-weight: 400;                                                    
}                                                                      
.banner {                                                              
  background-color: #CCC;                                              
  color: #FFF;                                                         
  margin: 0 auto 20px;                                                 
  max-width: 300px;                                                    
  padding: 20px;                                                       
  position: relative;                                                  
  text-align: center;                                                  
  width: 75%;                                                          
  height: 40px;                                                        
}                                                                      
section {                                                              
  padding: 40px 0;                                                     
}                                                                      
                                                                       
// NAV & HEADER ====================================================== 
                                                                       
nav {                                                                  
  background: #3F2427 url('../img/noise.png');                         
}                                                                      
.nav {                                                                 
  margin: 5px 0;                                                       
  position: relative;                                                  
}                                                                      
.logo {                                                                
  // Here's our favorite green!                                        
  background-color: #576658;                                           
  padding: 20px 10px;                                                  
  position: absolute;                                                  
}                                                                      
// Can these be nested?                                                
.logo:after {                                                          
  // Here's our favorite green again!                                  
  border-color: #576658 #576658 transparent #576658;                   
  border-style: solid;                                                 
  border-width: 0 88px 20px 88px;                                      
  content: "";                                                         
  position: absolute;                                                  
  bottom: -20px;                                                       
  left: 0;                                                             
  width: 0;                                                            
  height: 0;                                                           
}                                                                      
.logo span {                                                           
  background: url('../img/logo.png');                                  
  display: block;                                                      
  width: 156px;                                                        
  height: 59px;                                                        
  // Start image replacement                                           
  text-indent: 100%;                                                   
  white-space: nowrap;                                                 
  overflow: hidden;                                                    
  // End image replacement                                             
}                                                                      
                                                                       
.hero-unit {                                                           
  background: url('../img/wall.jpg') no-repeat left bottom;            
  // Start annoying vendor prefix chunk                                
  -webkit-background-size: cover;                                      
  -moz-background-size: cover;                                         
  -o-background-size: cover;                                           
  background-size: cover;                                              
  // End annoying vendor prefix chunk                                  
  margin-bottom: 0;                                                    
  // Rounded border needs to get fixed                                 
}                                                                      
                                                                       
// Can this be nested?                                                 
.hero-unit .btn {                                                      
  // Border radius needs vendor prefixes                               
  border-radius: 8px;                                                  
  background: #576658;                                                 
  border: none;                                                        
  // Needs a dark border bottom                                        
  color: #FFF;                                                         
  font-size: 20px;                                                     
  font-weight: 600;                                                    
  padding: 20px 35px;                                                  
  text-shadow: 0 1px 1px rgba(0,0,0,0.75);                             
  text-transform: uppercase;                                           
}                                                                      
.hero-unit .btn:hover {                                                
  // needs a darker background-color                                   
}                                                                      
.hero-unit .btn:active {                                               
  // needs a lighter background-color                                  
}                                                                      
                                                                       
// ABOUT SECTION  ==================================================== 
                                                                       
// BIKES SECTION ===================================================== 
                                                                       
// FOOTER ============================================================ 
                                                                       
// MEDIA QUERIES ===================================================== 
                                                                       